@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@300&family=Rambla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  color: #bcbcbc;
  background: rgb(15,14,23);
background: linear-gradient(0deg, rgba(15,14,23,1) 0%, rgba(6,54,96,1) 33%, rgba(7,7,12,1) 95%);}
h1 {
  font-family: "Audiowide", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
h2 {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
h3{
  font-family: "Rambla";
  text-transform: uppercase;
  letter-spacing: 0.2em;

}
li {
  list-style-type: none;
}
a:link{
  text-decoration: none;
  color: #bcbcbc;
}

/************HEADER***********/
.menu{
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: #2d2b4d62;
}
nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container{
  opacity: 1.2;
  height: 100vh;
  width: 100%;
  transition: 0.7s;
}
.header-infos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

/**********PRESENTATION**********/
.present-container{
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 5%;
}
.present-container-text{
  width: 50%;
  margin: 5rem;
}
.present-container-img{
  width: 40%;
  height: 80%;
  border: solid 1px #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present-container-img img{
  height: 90%;
}

.last-articles-container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0 5%;
}
#title-last-article{
  padding: 0 0 5rem 0;
}
.post-gallery{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.post{
  width: 25%;
}
.post-image{
  width: 100%;
}


#all-articles-button{
  width: 40%;
  height: 3rem;
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
#all-articles-button:hover{
  box-shadow: 1px 6px 58px 14px rgba(32,138,154,0.75);
  -webkit-box-shadow: 1px 6px 58px 14px rgba(32,138,154,0.75);
  -moz-box-shadow: 1px 6px 58px 14px rgba(32,138,154,0.75);
  transition: all 1s ease-out;
}


.banner-photos-insta{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem 0;
}
.banner-photos-insta__container{
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-photos-insta__item{
  width: 16%;
}
.banner-photos-insta__item img{
  width: 100%;
}