@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@300&family=Rambla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  color: #bcbcbc;
  background-color: #1a182a;
  font-family: "Rambla", sans-serif;
}
h1 {
  font-family: "Audiowide", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
h2, h3 {
  font-family: "Saira", sans-serif;
  font-size: 4.3em;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}
a:link{
  text-decoration: none;
  color: #bcbcbc;
}

/************HEADER***********/
.menu{
  display: flex;
  width: 100%;
  height: 20vh;
  background-color: #2d2b4d62;
}
nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container{
  opacity: 1.2;
  height: 100vh;
  width: 100%;
  transition: 0.7s;
}
.header-infos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

/**********PRESENTATION**********/
.present-container{
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 5%;
}
.present-container-text{
  width: 50%;
  padding: 5rem;
}
.present-container-img{
  width: 40%;
  height: 80%;
  border: solid 1px #bcbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.present-container-img img{
  width: 75%;
}